body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u288 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u289 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:675px;
}
#u290 {
  position:absolute;
  left:23px;
  top:103px;
  width:385px;
  height:675px;
}
#u291 {
  position:absolute;
  left:2px;
  top:330px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:25px;
}
#u292 {
  position:absolute;
  left:23px;
  top:104px;
  width:385px;
  height:25px;
}
#u293 {
  position:absolute;
  left:2px;
  top:4px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:2px;
}
#u294 {
  position:absolute;
  left:23px;
  top:169px;
  width:385px;
  height:1px;
}
#u295 {
  position:absolute;
  left:2px;
  top:-8px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u296 {
  position:absolute;
  left:170px;
  top:139px;
  width:90px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u297 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  word-wrap:break-word;
}
#u298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u298 {
  position:absolute;
  left:34px;
  top:140px;
  width:16px;
  height:16px;
}
#u299 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u300 {
  position:absolute;
  left:105px;
  top:206px;
  width:221px;
  height:24px;
  font-size:20px;
}
#u301 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u302 {
  position:absolute;
  left:45px;
  top:250px;
  width:340px;
  height:30px;
  text-align:center;
}
#u303 {
  position:absolute;
  left:0px;
  top:7px;
  width:340px;
  word-wrap:break-word;
}
#u304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u304 {
  position:absolute;
  left:115px;
  top:330px;
  width:200px;
  height:200px;
}
#u305 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u306 {
  position:absolute;
  left:64px;
  top:592px;
  width:300px;
  height:35px;
}
#u306_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u306_input {
  font-family:'应用字体';
}
#u307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u307 {
  position:absolute;
  left:165px;
  top:400px;
  width:100px;
  height:60px;
}
#u308 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
