body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u240 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u241 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:675px;
}
#u242 {
  position:absolute;
  left:23px;
  top:103px;
  width:385px;
  height:675px;
}
#u243 {
  position:absolute;
  left:2px;
  top:330px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:25px;
}
#u244 {
  position:absolute;
  left:23px;
  top:104px;
  width:385px;
  height:25px;
}
#u245 {
  position:absolute;
  left:2px;
  top:4px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:2px;
}
#u246 {
  position:absolute;
  left:23px;
  top:169px;
  width:385px;
  height:1px;
}
#u247 {
  position:absolute;
  left:2px;
  top:-8px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u248 {
  position:absolute;
  left:347px;
  top:142px;
  width:53px;
  height:16px;
}
#u249 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u250 {
  position:absolute;
  left:170px;
  top:139px;
  width:90px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u251 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  word-wrap:break-word;
}
#u252 {
  position:absolute;
  left:63px;
  top:704px;
  width:300px;
  height:35px;
}
#u252_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u252_input {
  font-family:'应用字体';
}
#u253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u253 {
  position:absolute;
  left:30px;
  top:134px;
  width:27px;
  height:27px;
  text-align:center;
}
#u254 {
  position:absolute;
  left:0px;
  top:6px;
  width:27px;
  white-space:nowrap;
}
#u255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u255 {
  position:absolute;
  left:23px;
  top:172px;
  width:385px;
  height:120px;
}
#u256 {
  position:absolute;
  left:2px;
  top:52px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u257 {
  position:absolute;
  left:23px;
  top:291px;
  width:385px;
  height:120px;
}
#u258 {
  position:absolute;
  left:2px;
  top:52px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u259 {
  position:absolute;
  left:23px;
  top:410px;
  width:385px;
  height:120px;
}
#u260 {
  position:absolute;
  left:2px;
  top:52px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u261 {
  position:absolute;
  left:23px;
  top:529px;
  width:385px;
  height:120px;
}
#u262 {
  position:absolute;
  left:2px;
  top:52px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:100px;
}
#u263 {
  position:absolute;
  left:40px;
  top:181px;
  width:130px;
  height:100px;
}
#u264 {
  position:absolute;
  left:2px;
  top:42px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:100px;
}
#u265 {
  position:absolute;
  left:260px;
  top:302px;
  width:130px;
  height:100px;
}
#u266 {
  position:absolute;
  left:2px;
  top:42px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:100px;
}
#u267 {
  position:absolute;
  left:40px;
  top:421px;
  width:130px;
  height:100px;
}
#u268 {
  position:absolute;
  left:2px;
  top:42px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:100px;
}
#u269 {
  position:absolute;
  left:260px;
  top:539px;
  width:130px;
  height:100px;
}
#u270 {
  position:absolute;
  left:2px;
  top:42px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u271 {
  position:absolute;
  left:205px;
  top:181px;
  width:55px;
  height:22px;
}
#u272 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u273 {
  position:absolute;
  left:40px;
  top:302px;
  width:55px;
  height:22px;
}
#u274 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u275 {
  position:absolute;
  left:205px;
  top:421px;
  width:55px;
  height:22px;
}
#u276 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u277 {
  position:absolute;
  left:40px;
  top:540px;
  width:55px;
  height:22px;
}
#u278 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u279 {
  position:absolute;
  left:205px;
  top:213px;
  width:185px;
  height:68px;
}
#u280 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u281 {
  position:absolute;
  left:40px;
  top:332px;
  width:185px;
  height:68px;
}
#u282 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u283 {
  position:absolute;
  left:205px;
  top:451px;
  width:185px;
  height:68px;
}
#u284 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u285 {
  position:absolute;
  left:40px;
  top:572px;
  width:185px;
  height:68px;
}
#u286 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
