body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:860px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u310 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u311 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:675px;
}
#u312 {
  position:absolute;
  left:23px;
  top:103px;
  width:385px;
  height:675px;
}
#u313 {
  position:absolute;
  left:2px;
  top:330px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:25px;
}
#u314 {
  position:absolute;
  left:23px;
  top:104px;
  width:385px;
  height:25px;
}
#u315 {
  position:absolute;
  left:2px;
  top:4px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:2px;
}
#u316 {
  position:absolute;
  left:23px;
  top:169px;
  width:385px;
  height:1px;
}
#u317 {
  position:absolute;
  left:2px;
  top:-8px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u318 {
  position:absolute;
  left:81px;
  top:220px;
  width:270px;
  height:32px;
  text-align:center;
}
#u319 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:281px;
}
#u320 {
  position:absolute;
  left:75px;
  top:300px;
  width:280px;
  height:280px;
}
#u321 {
  position:absolute;
  left:2px;
  top:132px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u322 {
  position:absolute;
  left:114px;
  top:375px;
  width:200px;
  height:130px;
  overflow:hidden;
  visibility:hidden;
}
#u322_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:130px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u322_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u323 {
  position:absolute;
  left:5px;
  top:5px;
  width:189px;
  height:119px;
}
#u324 {
  position:absolute;
  left:2px;
  top:52px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u325 {
  position:absolute;
  left:29px;
  top:24px;
  width:144px;
  height:16px;
}
#u326 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u327 {
  position:absolute;
  left:65px;
  top:85px;
  width:70px;
  height:25px;
}
#u327_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u327_input {
  font-family:'应用字体';
}
#u328 {
  position:absolute;
  left:503px;
  top:376px;
  width:200px;
  height:130px;
  overflow:hidden;
}
#u328_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:130px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u328_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u329 {
  position:absolute;
  left:5px;
  top:5px;
  width:189px;
  height:119px;
}
#u330 {
  position:absolute;
  left:2px;
  top:52px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u331 {
  position:absolute;
  left:29px;
  top:24px;
  width:144px;
  height:16px;
}
#u332 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u333 {
  position:absolute;
  left:65px;
  top:85px;
  width:70px;
  height:25px;
}
#u333_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u333_input {
  font-family:'应用字体';
}
#u334 {
  position:absolute;
  left:355px;
  top:440px;
  width:0px;
  height:0px;
}
#u334_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:159px;
  height:8px;
}
#u334_seg1 {
  position:absolute;
  left:141px;
  top:-10px;
  width:21px;
  height:20px;
}
#u335 {
  position:absolute;
  left:28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:348px;
}
#u336 {
  position:absolute;
  left:510px;
  top:532px;
  width:350px;
  height:348px;
  text-align:left;
}
#u337 {
  position:absolute;
  left:2px;
  top:2px;
  width:346px;
  word-wrap:break-word;
}
#u338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u338 {
  position:absolute;
  left:530px;
  top:576px;
  width:200px;
  height:120px;
  color:#FFFFFF;
}
#u339 {
  position:absolute;
  left:2px;
  top:36px;
  width:196px;
  word-wrap:break-word;
}
#u340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u340 {
  position:absolute;
  left:530px;
  top:706px;
  width:200px;
  height:120px;
  color:#FFFFFF;
}
#u341 {
  position:absolute;
  left:2px;
  top:36px;
  width:196px;
  word-wrap:break-word;
}
#u342 {
  position:absolute;
  left:360px;
  top:520px;
  width:0px;
  height:0px;
}
#u342_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u342_seg1 {
  position:absolute;
  left:96px;
  top:-4px;
  width:8px;
  height:194px;
}
#u342_seg2 {
  position:absolute;
  left:96px;
  top:182px;
  width:54px;
  height:8px;
}
#u342_seg3 {
  position:absolute;
  left:136px;
  top:176px;
  width:21px;
  height:20px;
}
#u343 {
  position:absolute;
  left:50px;
  top:60px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u344 {
  position:absolute;
  left:170px;
  top:139px;
  width:90px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u345 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  word-wrap:break-word;
}
#u346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u346 {
  position:absolute;
  left:34px;
  top:140px;
  width:16px;
  height:16px;
}
#u347 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u348 {
  position:absolute;
  left:100px;
  top:640px;
  width:230px;
  height:40px;
}
#u348_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u348_input {
  font-family:'应用字体';
}
