body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u450 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u451 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:675px;
}
#u452 {
  position:absolute;
  left:23px;
  top:103px;
  width:385px;
  height:675px;
}
#u453 {
  position:absolute;
  left:2px;
  top:330px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:25px;
}
#u454 {
  position:absolute;
  left:23px;
  top:104px;
  width:385px;
  height:25px;
}
#u455 {
  position:absolute;
  left:2px;
  top:4px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:2px;
}
#u456 {
  position:absolute;
  left:23px;
  top:169px;
  width:385px;
  height:1px;
}
#u457 {
  position:absolute;
  left:2px;
  top:-8px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u458 {
  position:absolute;
  left:23px;
  top:170px;
  width:385px;
  height:608px;
}
#u458_input {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:608px;
}
#u459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u459 {
  position:absolute;
  left:23px;
  top:732px;
  width:385px;
  height:48px;
}
#u460 {
  position:absolute;
  left:2px;
  top:16px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u461 {
  position:absolute;
  left:40px;
  top:746px;
  width:104px;
  height:16px;
}
#u462 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u463 {
  position:absolute;
  left:305px;
  top:741px;
  width:84px;
  height:30px;
}
#u463_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u463_input {
  font-family:'应用字体';
}
#u464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u464 {
  position:absolute;
  left:170px;
  top:138px;
  width:90px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u465 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u466 {
  position:absolute;
  left:30px;
  top:138px;
  width:27px;
  height:16px;
}
#u467 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
