body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:910px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u5060 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u5061 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:675px;
}
#u5062 {
  position:absolute;
  left:23px;
  top:103px;
  width:385px;
  height:675px;
}
#u5063 {
  position:absolute;
  left:2px;
  top:330px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:25px;
}
#u5064 {
  position:absolute;
  left:23px;
  top:104px;
  width:385px;
  height:25px;
}
#u5065 {
  position:absolute;
  left:2px;
  top:4px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:2px;
}
#u5066 {
  position:absolute;
  left:23px;
  top:169px;
  width:385px;
  height:1px;
}
#u5067 {
  position:absolute;
  left:2px;
  top:-8px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5068 {
  position:absolute;
  left:170px;
  top:138px;
  width:90px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5069 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  word-wrap:break-word;
}
#u5070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u5070 {
  position:absolute;
  left:30px;
  top:134px;
  width:27px;
  height:27px;
  text-align:center;
}
#u5071 {
  position:absolute;
  left:0px;
  top:6px;
  width:27px;
  white-space:nowrap;
}
#u5072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5072 {
  position:absolute;
  left:23px;
  top:178px;
  width:385px;
  height:60px;
}
#u5073 {
  position:absolute;
  left:2px;
  top:22px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5074 {
  position:absolute;
  left:42px;
  top:196px;
  width:250px;
  height:25px;
}
#u5074_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5074_input {
  font-family:'应用字体';
}
#u5075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5075 {
  position:absolute;
  left:375px;
  top:200px;
  width:15px;
  height:15px;
}
#u5076 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u5077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5077 {
  position:absolute;
  left:23px;
  top:237px;
  width:385px;
  height:60px;
}
#u5078 {
  position:absolute;
  left:2px;
  top:22px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5079 {
  position:absolute;
  left:42px;
  top:255px;
  width:250px;
  height:25px;
}
#u5079_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5079_input {
  font-family:'应用字体';
}
#u5080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5080 {
  position:absolute;
  left:375px;
  top:259px;
  width:15px;
  height:15px;
}
#u5081 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u5082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5082 {
  position:absolute;
  left:23px;
  top:296px;
  width:385px;
  height:60px;
}
#u5083 {
  position:absolute;
  left:2px;
  top:22px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5084 {
  position:absolute;
  left:42px;
  top:314px;
  width:250px;
  height:25px;
}
#u5084_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5084_input {
  font-family:'应用字体';
}
#u5085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5085 {
  position:absolute;
  left:375px;
  top:318px;
  width:15px;
  height:15px;
}
#u5086 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u5087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:112px;
}
#u5087 {
  position:absolute;
  left:560px;
  top:211px;
  width:350px;
  height:112px;
  text-align:left;
}
#u5088 {
  position:absolute;
  left:2px;
  top:2px;
  width:346px;
  word-wrap:break-word;
}
#u5089 {
  position:absolute;
  left:390px;
  top:208px;
  width:0px;
  height:0px;
}
#u5089_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:134px;
  height:8px;
}
#u5089_seg1 {
  position:absolute;
  left:126px;
  top:-4px;
  width:8px;
  height:67px;
}
#u5089_seg2 {
  position:absolute;
  left:126px;
  top:55px;
  width:44px;
  height:8px;
}
#u5089_seg3 {
  position:absolute;
  left:156px;
  top:49px;
  width:21px;
  height:20px;
}
#u5090 {
  position:absolute;
  left:64px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5091 {
  position:absolute;
  left:390px;
  top:267px;
  width:0px;
  height:0px;
}
#u5091_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:174px;
  height:8px;
}
#u5091_seg1 {
  position:absolute;
  left:156px;
  top:-10px;
  width:21px;
  height:20px;
}
#u5092 {
  position:absolute;
  left:35px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5093 {
  position:absolute;
  left:390px;
  top:326px;
  width:0px;
  height:0px;
}
#u5093_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:134px;
  height:8px;
}
#u5093_seg1 {
  position:absolute;
  left:126px;
  top:-63px;
  width:8px;
  height:67px;
}
#u5093_seg2 {
  position:absolute;
  left:126px;
  top:-63px;
  width:44px;
  height:8px;
}
#u5093_seg3 {
  position:absolute;
  left:156px;
  top:-69px;
  width:21px;
  height:20px;
}
#u5094 {
  position:absolute;
  left:64px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:112px;
}
#u5095 {
  position:absolute;
  left:560px;
  top:348px;
  width:350px;
  height:112px;
  text-align:left;
}
#u5096 {
  position:absolute;
  left:2px;
  top:2px;
  width:346px;
  word-wrap:break-word;
}
